<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Images</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/w3.css">

    <style>
        .navbar {
            position: relative;
            min-height: 50px;
            border: 1px solid transparent;
        }

        .container {
            width: auto;
            padding-top: 10px;
        }

        .table {
            border: 1px solid blue;
            font-size: large;
            color: black;
            font-weight: bold;
            text-align: center;
        }

        .table>thead>tr>th {
            border: 1px solid blue;
            margin: auto;
            text-align: center;
        }

        .table>tbody>tr>td {
            border: 1px solid blue;
            margin: auto;
            text-align: center;
        }
    </style>
</head>

<body>
    <%- include('./header') %>
    <div class="container">
        <% if (imgPathArr.length>0) { %>
        <div class="animate three" style="padding-bottom: 14px;">
            <span>Hey</span> &nbsp; <span><%= user.username %>,</span> &nbsp; <span>your</span> &nbsp;
            <span>gallery</span> &nbsp; <span>contains</span> &nbsp;<span><%= imgPathArr.length/6 %></span>
            &nbsp;<span>images.</span>
        </div>

        <% i=1 %>
        <div class="table-responsive table-bordered">
            <table class="table">
                <thead>
                    <tr>
                        <th>Action</th>
                        <th>Original image</th>
                        <th>Resized by 500*500</th>
                        <th>Blurred</th>
                        <th>Gray</th>
                        <th>Sharped</th>
                        <th>Rotated by 180</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <% imgPathArr.forEach((imgFileName) => { %>
                        <% if(i==1){  %>
                        <td>
                            <a class="btn-danger" href="/images/delete/<%=user._id %>/<%=imgFileName%>">Delete </a>
                        </td>
                        <% } %>
                        <td>
                            <img src="/<%=user._id %>/<%=imgFileName %>" />
                        </td>
                        <% if (i==6) { %>
                    </tr>
                    <tr>
                        <% i=0 %>
                        <% } %>
                        <% i++ %>
                        <% }) %>
                </tbody>
            </table>
        </div>
        <% } else  {%>
        <div class="w3-center w3-animate-zoom">
            <h1 style="color: red;">No images are uploaded yet to your profile!</h1>
        </div>
        <% }%>
    </div>
</body>

</html>